form#searchFilterForm.accordion
  each filter in ['season','style','size','color']
    .accordion-item
      h2.accordion-header
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#accord' + filter)= (!filter.includes('Type')) ? filter[0].toUpperCase() + filter.slice(1) : 'Type'
      .accordion-collapse.collapse(id="accord" + filter): .accordion-body: div(id=filter + "Filter")
          if fora[filter] && fora[filter].length
            if fora[filter].length>12
              .row
                .col-6
                  each item, i in fora[filter]
                    if i % 2 == 0
                      input.form-check-input.filter-check(id=filter + "-" + i type="checkbox" name=filter + "-" + i)
                      label(class="form-check-label" for=filter + "-" + i)= item
                      br
                .col-6
                  each item, i in fora[filter]
                    if i % 2 == 1
                      input.form-check-input.filter-check(id=filter + "-" + i type="checkbox" name=filter + "-" + i)
                      label(class="form-check-label" for=filter + "-" + i)= item
                      br
            each label, i in fora[filter]
              input.form-check-input.filter-check(id=filter + "-" + i type="checkbox" name=filter + "-" + i)
              label(class="form-check-label" for=filter + "-" + i)= label
              br
            //- else
            //-   each subFilter in ["size","shoeSize","jeanSize"]
            //-     .row(id=subFilter +'SubFilter')
            //-       .col-6
            //-         each size, i in fora[subFilter]
            //-           if i % 2 == 0
            //-             input.form-check-input.filter-check(id=subFilter + "-" + i type="checkbox" name=subFilter + "-" + i)
            //-             label(class="form-check-label" for="size-" + i)= size
            //-             br
            //-       .col-6
            //-         each size, i in fora[subFilter]
            //-           if i % 2 == 1
            //-             input.form-check-input.filter-check(id=subFilter + "-" + i type="checkbox" name=subFilter + "-" + i)
            //-             label(class="form-check-label" for="size-" + i)= size
            //-             br
script(src='/js/searchFilter.js')
