#accordionPanelsStayOpenExample.accordion
  
  each filter in ['category','season','style','size','colorName','material','pattern','topType','neckline','length','sleeve']
    .accordion-item
      h2.accordion-header
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#accord' + filter)= filter
      .accordion-collapse.collapse(id="accord" + filter): .accordion-body: div(id=filter + "Filter")
          if fora[filter] && fora[filter].length
            if fora[filter].length>12
              .row
                .col-6
                  each item, i in fora[filter]
                    if i % 2 == 0
                      input(type="checkbox" class="form-check-input" id=filter + "-" + i)
                      label(class="form-check-label" for=filter + "-" + i)= item
                      br
                .col-6
                  each item, i in fora[filter]
                    if i % 2 == 1
                      input(type="checkbox" class="form-check-input" id=filter + "-" + i)
                      label(class="form-check-label" for=filter + "-" + i)= item
                      br
            else if filter!="size"
              each label, i in fora[filter]
                input(type="checkbox" class="form-check-input" id=filter + "-" + i)
                label(class="form-check-label" for=filter + "-" + i)= label
                br
            if filter=="size"
              .row
                each subFilter in ["size","shoeSize","jeanSize"]
                  .col-6
                    each size, i in fora[subFilter]
                      if i % 2 == 0
                        input(type="checkbox" class="form-check-input" id="size-" + i)
                        label(class="form-check-label" for="size-" + i)= size
                        br
                  .col-6
                    each size, i in fora[subFilter]
                      if i % 2 == 1
                        input(type="checkbox" class="form-check-input" id="size-" + i)
                        label(class="form-check-label" for="size-" + i)= size
                        br
            

  script(src='../searchFilter.js')
