.container-fluid
	h4 My Donations
	p Browse through your donation history. Each donated item will be rewarded points.

	p.my-0 Total points: 
		span.pointsTotal= user.totalPoints || '0'
	p.my-0 Points for exchange: 
		span.pointsExchangable= user.pointsForExchange || '0'
	a(data-bs-toggle='modal' href='#pointsSystem') How to earn points?

if user.donations.length == 0
	p.text-center: a(href="") You haven’t donated any items yet
else
	.container-fluid
		each donation, i in user.donations
			.row.mt-4: .card.mt-2.mx-3
				h5.card-header Donation
				.card-body
					h5.card-title.mb-4 My Donation Details
					.card-text
						.row 
							.col-md-4
								p Donation time:
									span=(d = new Date(donation.time))? d.toDateString() + " " + d.getHours() + ":" + d.getMinutes() : " "
								p Number of items donated: 
									span=donation.items.length
							.col-md-4
							.col-md-4
								p Total rewarded pts: 
									span=donation.totalRewardedPoints + " pts"
						div(id="donatedItems" + i).row