.container-fluid
	h4 My Orders
	p Browse through your order history. Each purchased item will be rewarded points.
	
	p.my-0 Total points: 
		span.pointsTotal= user.totalPoints || '0'
	p.my-0 Points for exchange: 
		span.pointsExchangable= user.pointsForExchange || '0'
	a(data-bs-toggle='modal' href='#pointsSystem') How to earn points?

if user.orders.length == 0
	p.text-center: a(href="store") You haven’t ordered anything yet (view shop)
else
	.container-fluid
		each order, i in user.orders
			.row: .card
				h4.card-header
					p= ((order.confirmed)?'Admin Confirmed Order':'Pending Order Confirmation')
				.card-body
					h5.card-title My Order Details
					.card-text
						.row 
							.col-md-4
								p Order request time:
									span=(d = new Date(order.time))? d.toDateString() + " " + d.getHours() + ":" + d.getMinutes() : " "
								p Number of items ordered: 
									span=order.items.length
								p.mb-5 Coupon Used: 
									span=fora.discount[order.couponUsed] + "% discount"
							.col-md-4
								p Items subtotal: 
									span=order.subtotal + " RMB"
								p Estimated sales tax: 
									span=order.salesTax + " RMB"
								p.mb-5 Shipping and handling cost: 
									span=order.shippingCost + " RMB"
							.col-md-4
								p Total billing: 
									span=order.totalBilling + " RMB"
								p Total rewarded pts: 
									span=order.totalRewardedPoints + " pts"
				#carouselExampleControls.carousel.slide(data-bs-ride='carousel')
					.carousel-inner
						.carousel-item
						img.d-block.w-100(src='...' alt='...')
					button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev')
						span.carousel-control-prev-icon(aria-hidden='true')
						span.visually-hidden Previous
					button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next')
						span.carousel-control-next-icon(aria-hidden='true')
						span.visually-hidden Next
				div(id="orderedItems" + i).row

	.card
	.card-header Featured
	.card-body
		h5.card-title Special title treatment
		p.card-text With supporting text below as a natural lead-in to additional content.
		a.btn.btn-primary(href='#') Go somewhere


