include account
	.row
		.col
			h4 My Orders
			p Browse through your order history. Each purchased item will be rewarded points.
			
			p.my-0 Total points: 
				span.pointsTotal= user.totalPoints || '0'
			p.my-0 Points for exchange: 
				span.pointsExchangable= user.pointsForExchange || '0'
			a(data-bs-toggle='modal' href='#pointsSystem') How to earn points?
		.col-md-6
			h4 Scan QR Code to wechat pay
			p Once our staff has received payment, your order will be confirmed and we will send the package no later than 5 business days.
			img.rounded(style='' src='https://i.pinimg.com/564x/8c/81/bf/8c81bf68e863dca94759acf24c7f1f5c.jpg')

	if user.orders.length == 0
		p.text-center: a(href="/store/clothing") You haven’t ordered anything yet (view shop)
	else
		.row
			each order, i in userOrders
				.row.mt-4: .card.mt-2.mx-3
					h5.card-header
						if order.confirmed
							p Admin Confirmed Order ☑️: 
								span= (d = new Date(order.confirmed))? d.toDateString() + " " + d.getHours().toString().padStart(2, '0') + ":" + d.getMinutes().toString().padStart(2, '0') : " "
							if order.shipping
								if order.sent
									p Admin Has Shipped Items 🚚: 
										span= (d = new Date(order.sent))? d.toDateString() + " " + d.getHours().toString().padStart(2, '0') + ":" + d.getMinutes().toString().padStart(2, '0') : " "
								else 
									p Admin Has Not Shipped Items 📦
							else 
									p Please Pick Up From Store 🛍
						else 
							p Pending Order Confirmation... (please wait for admin to confirm payment)
					.card-body
						.card-text
							.row
								.col-md-4
									p Order request time: 
										//reference: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/parse 
										span=(d = new Date(order.timeRequested))? d.toDateString() + " " + d.getHours().toString().padStart(2, '0') + ":" + d.getMinutes().toString().padStart(2, '0') : " "
									p Number of items ordered: 
										span=order.items.length
									p.mb-5 Coupon Used: 
										span=fora.discount[order.coupon+1] + "% discount"
								.col-md-4
									p Items subtotal: 
										span=order.subtotal.toFixed(2) + " RMB"
									p Estimated sales tax: 
										span=order.salesTax.toFixed(2) + " RMB"
									p.mb-5 Shipping and handling cost: 
										span=order.shipping.toFixed(2) + " RMB"
								.col-md-4
									p Total billing: 
										span=order.total.toFixed(2) + " RMB"
									p Total rewarded pts: 
										span=order.rewardPoints + " pts"
									p Return status: 
										//referece for day conversion: https://www.unitjuggler.com/convert-time-from-day-to-ms.html
										if Date.now() - order.timeRequested <= 2*8.64e+7
											span 🟢 Can return without penalty with full refund
										else if Date.now() - order.timeRequested > 2*8.64e+7  && Date.now() - order.timeRequested <=7*8.64e+7
											span 🟠 10RMB deduction per item refunded
										else if Date.now() - order.timeRequested > 7*8.64e+7
											span 🔴 No return
							div(id="orderedItems" + i).row
script(src="../js/account/orders.js")
