include ../fora.pug
//- script(src='../../../admin.js')
script(src='../../inventory.js')
nav#blackNav.navbar.navbar-expand-sm.navbar-dark.bg-dark.p-2.px-3
	a.navbar-brand.active.fs-1(href='/store') FORA THRIFT

h1.display-3.mt-5.mb-4.text-center Order Admin Form
h3.text-center.text-secondary
	a(href='admin') BACK TO ADMIN HOME

p.text-center.text-muted Total number of orders unconfirmed: 
	span#totalUnconfirmedOrders

if user.orders.length == 0
	p.text-center There are no orders yet
else
	.container-sm
		//- .row
		//- 	.col-md-4.text-center.text-muted
		//- 		a(href='admin') ALL ORDERS
		//- 	.col-md-4.text-center.text-muted
		//- 		a(href='admin') CONFIRMED ORDERS
		//- 	.col-md-4.text-center.text-muted
		//- 		a(href='admin') UNCONFIRMED ORDERS
		ul.nav.nav-tabs
			li.nav-item
				a.nav-link.active(href='#') ALL ORDERS
			li.nav-item
				a.nav-link(href='#') CONFIRMED ORDERS
			li.nav-item
				a.nav-link(href='#') UNCONFIRMED ORDERS

		each order, i in user.orders
			.row.mt-4: .card.mt-2.mx-3
				h5.card-header
					p= ((order.confirmed)?'Admin Confirmed Order':'Pending Order Confirmation...')
				.card-body
					h5.card-title.mb-4 Order Request From: 
						=user.username
					.card-text
						.row 
							.col-md-4
								p Order request time:
									span=(d = new Date(order.time))? d.toDateString() + " " + d.getHours() + ":" + d.getMinutes() : " "
								p Number of items ordered: 
									span=order.items.length
								p.mb-5 Coupon Used: 
									span=fora.discount[order.couponUsed] + "% discount"
							.col-md-4
								p Items subtotal: 
									span=order.subtotal + " RMB"
								p Estimated sales tax: 
									span=order.salesTax + " RMB"
								p.mb-5 Shipping and handling cost: 
									span=order.shippingCost + " RMB"
							.col-md-4
								p Total billing: 
									span=order.totalBilling + " RMB"
								p Total rewarded pts: 
									span=order.totalRewardedPoints + " pts"
								p Wechat ID: 
									span=user.wechatID
								if (!order.confirmed)
									.row.mt-4.mb-5
										button.btn.btn-dark(type="button" onclick='confirmRequest()') Confirm order
								else
									.row.mt-4.mb-5 
										button.btn.btn-success(type="button" onclick='confirmRequest()' disabled) [ Order has been confirmed ] 
				//- div(id="requestItems" + i).row

				
